<ion-header>
  <ion-toolbar>
    <ion-title>edit-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
    <ion-item>
        <h1 class="main">Depression</h1>
        <ion-img class="icon" src="../../assets/icon/q.png "></ion-img>
      </ion-item>
    
      <h1 class="profile">Profile</h1>

    
  
    <div *ngIf="!busy">
    <div class="profile-info">
			<ion-item>
				<ion-label position="floating">Username</ion-label>
				<ion-input [(ngModel)]="user_name"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">New Password?</ion-label>
				<ion-input [(ngModel)]="newpassword"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Enter old password</ion-label>
				<ion-input [(ngModel)]="user_password"></ion-input>
			</ion-item>

			<ion-button (click)="updateDetails()">Save</ion-button>
		</div>




  </div>
</ion-content>
