<ion-header>
  <ion-toolbar>
    <ion-title class ="title">
      <!-- <p class="title">Questionnaire for depression</p> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <ion-item>
  <h1 class="main">Depression</h1>
  <ion-img class="icon" src="../../assets/icon/q.png "></ion-img>
  </ion-item>

  <h1 class="sub">Questionnaire for depression</h1>
  <h1 class="loginpage">Login Page</h1>

  <ion-list class="list1">
  <ion-item > 
    <ion-img class="icon1" src="../../assets/icon/email.png "></ion-img>
    <ion-input type="text" [(ngModel)]="user_name" placeholder="Email"></ion-input>
  </ion-item>
  
  <ion-item >
      <ion-img class="icon1" src="../../assets/icon/lock.png "></ion-img>
    <ion-input type="password" [(ngModel)]="user_password"placeholder="Password"></ion-input>
  </ion-item>
  
  <ion-button class="button1" (click)="login()">Sign in</ion-button>

  <ion-item class="item1" href="/register">
    <p class="gotoregis">Or Create an account</p>
</ion-item>
</ion-list>