.title{
    // background-image: linear-gradient(to left, #ffffff, #eff0fc, #d9e2fa, #bed5f8, #9dcaf4);
    background-image: #F0F0F0;
}
.bg-style {
    // background-image: linear-gradient(to left bottom, #ffffff, #f3f3fd, #e4e8fb, #d3defa, #bed5f8, #afcef7, #9ec8f6, #8cc2f5, #7fbcf6, #72b6f7, #63b0f7, #54aaf8);
    background-image:linear-gradient(to bottom, #F0F0F0 33%, #77d2e5 100%);
}
.main{
    font-family: Georgia;
    font-size: 30px;
    margin-top:50px;
    margin-left:20%;
    color:#606060;
}
.sub{
    text-align: right;
    font-size: 12px;
    font-family: Georgia;
    margin-right:20px;
    color:#606060;
}
.icon{
    width: 45px;
    height:45px;
    margin-left: 15px;
    margin-top:40px;
}
.q{
    font-size:22px;
    font-family: Georgia;
    color:#606060;
    margin:0px 0px 20px 20px;
}
.list1{
    border-radius: 30px ;
    // padding:10px 100px 10px 100px ;
    border: 1px solid #606060;
    // box-shadow: 2px 2px 2px grey;
    // margin-bottom:150px;
    // margin-left:18%;
    height: auto;
    width: 300px;  
    font-family: Georgia;
    background:#f2f2f2;
    // font-size:14px;
    color:#606060!important;
    margin:70px 0px 0px 40px;
}
.list1{
    ion-label{
        margin-left:50px; 
        margin-top:50px;
    }
}
.list2{
    border-radius: 30px ;
    // padding:10px 100px 10px 100px ;
    border: 1px solid grey;
    // box-shadow: 2px 2px 2px grey;
    margin-top:60px;
    // margin-left:18%;
    height: auto;
    width: auto;  
    font-family: Georgia;
    background:#f2f2f2;
    // font-size:14px;
    color:#606060!important;
    font-size:13px;
}
.list2{
    ion-label{
        margin-left:40px;
    }
}
.icon1{
    width:20px;
    height:20px;
    // margin-left:100px;
}
.list2{
    ion-item{
        margin-right:5px;
        color:#606060;
        font-family:Georgia;
        font-size:12px;
    }
}
.button1{
    --color: white;
    --background:#ff944d;
    --border-radius: 10px;
    border: 1px  ;
    font-family: Georgia;
    margin:10px 0px 0px 120px;  
}

