// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.alert-radio-label.sc-ion-alert-md {
    white-space: pre-line !important;
  }
  
  .alert-radio-label.sc-ion-alert-ios {
    white-space: pre-line !important;
  }
  .ion-text-wrap{
    white-space: pre-line !important;
}