<ion-header>
  <ion-toolbar>
    <ion-title class ="title">
      <!-- <p class="title">Questionnaire for depression</p> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <ion-item>
  <h1 class="main">Depression</h1>
  <ion-img class="icon" src="../../assets/icon/q.png "></ion-img>
  </ion-item>
  
  <h1 class="sub">Questionnaire for depression</h1>
  
  <ion-button class="login" href="/login">Login</ion-button>
  
  <ion-button class="register" href="/register">Register</ion-button>
</ion-content>
